<div class="navigation-content">
  <ul class="main-menu-navigation">
    {% for link in linklists['main-menu'].links -%}
      <li class="navigation-item">
        <a href="{{ link.url }}"
          ><span>{{ link.title }}</span></a
        >
      </li>
    {%- endfor %}
  </ul>
</div>
